<form>
  <div class="form-group">
    ISBN:
    <input class="form-control" name="isbn"
    [(ngModel)]="book.isbn"
    required
    minlength="3"
    #isbn> {{ isbn.className }}
  </div>
  <div class="form-group">
    Title:
    <input class="form-control" name="title"
    [(ngModel)]="book.title"
    required>
  </div>

  <div class="form-group">
    Description:
    <textarea name="description" class="form-control"
    [(ngModel)]="book.description"></textarea>
  </div>
  <button class="btn btn-danger"
    (click)="add()">Save</button>
</form>
